:root {
  --cor-principal: #000000;
  --cor-secundaria: #b2b2b2;
  --cor-fundo: #ffffff;
  --cor-azul-escuro: #0047ab;
  --cor-vermelho-mercedes: #c8102e;
  --cor-amarelo-ferrari: #ffef00;
  --cor-verde-ferrari: #009a4e;
}

button{
  border: 3px solid var(--cor-secundaria);
  background-color: var(--cor-vermelho-mercedes);
  color: var(--cor-fundo);
  border-radius: 5px;
  cursor: pointer;
  transition: .4s all;
  outline: none;
  height: 4.5vh;
  width: 14vw;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover{
  transform: scale(0.9);
}