:root {
  --cor-principal: #000000;
  --cor-secundaria: #B2B2B2;
  --cor-fundo: #FFFFFF;
  --cor-azul-escuro: #0047AB;
  --cor-vermelho-mercedes: #C8102E;
  --cor-amarelo-ferrari: #FFEF00;
}

button{
  width: 50%;
  background-color: var(--cor-vermelho-mercedes);
  color: var(--cor-fundo);
  margin-top: 10px;
  margin-left: 25%;
  padding: 5px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: .4s all;
  outline: none;
}

button:hover{
  transform: scale(0.9);
}