@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --cor-principal: #000000;
  --cor-secundaria: #b2b2b2;
  --cor-fundo: #ffffff;
  --cor-azul-escuro: #0047ab;
  --cor-vermelho-mercedes: #c8102e;
  --cor-amarelo-ferrari: #ffef00;
  --cor-verde-ferrari: #009a4e;
}

/* ----------------------- */
/* Estilizando cor e fonte */
/* ----------------------- */


.App {
  background-color: rgb(72, 134, 72);
  background-image: url("https://upload.wikimedia.org/wikipedia/sco/d/d1/Ferrari-Logo.svg");
  background-repeat: no-repeat;
  background-size: 22rem;
  background-position: center;
  color: var(--cor-principal);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App-header {
  color: var(--cor-vermelho-mercedes);
  text-shadow: 2px 2px 3px var(--cor-principal);
  font-size: 5vh;
}

.containerLogin {
  color: var(--cor-fundo);
  background-color: var(--cor-vermelho-mercedes);
  border: 3px solid #333;
  border-radius: 9px;
}


/* ----------------------------- */
/* Estilizando tamanho e posição */
/* ----------------------------- */


.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  text-align: center;
  margin-bottom: 20px;
}

.containerCorpo {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10%;
}

.containerLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px auto;
  margin: 10px;
}

.containerLoginLista {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.containerLista{
  width: 15vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}