:root {
  --cor-principal: #000000;
  --cor-secundaria: #b2b2b2;
  --cor-fundo: #ffffff;
  --cor-azul-escuro: #0047ab;
  --cor-vermelho-mercedes: #c8102e;
  --cor-amarelo-ferrari: #ffef00;
  --cor-verde-ferrari: #009a4e;
}

.meuFooter{
  background-color: var(--cor-vermelho-mercedes);
  color: var(--cor-fundo);
  border: 2px solid var(--cor-secundaria);
  border-radius: 10px;
  margin-top: auto;
  text-align: center;
  padding: 10px;
  width: 98.5%;
}

.meuFooter a{
  color: var(--cor-fundo);
  text-decoration: none;
  cursor: pointer;
}