:root {
  --cor-principal: #000000;
  --cor-secundaria: #b2b2b2;
  --cor-fundo: #ffffff;
  --cor-azul-escuro: #0047ab;
  --cor-vermelho-mercedes: #c8102e;
  --cor-amarelo-ferrari: #ffef00;
  --cor-verde-ferrari: #009a4e;
}

.formulario {
  background-color: var(--cor-vermelho-mercedes);
}

a{
  text-decoration: none;
  color: var(--cor-amarelo-ferrari);
}

li{
  padding: 10px;
  text-shadow: 3px 3px 5px black;
}

.formulario{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 30px;
  margin: 10px auto;
  padding: 10px auto;
  border: 5px solid black;
}